.link {
    font-weight: bold;
    padding: 7px 20px;
    color: white;
    text-align: left;
  }
  
.title{
  font-size: 28px;
}

  @media only screen and (max-width: 400px) {
    .title{
      font-size: 22px;
    }
  }